  :root {
    --black-color: #212121;
    --blue-color: #2196f3;
    --blue-color-hero-btn: #188ce8;
    --grey-color: #757575;
    --white-color: #ffffff;
    --bgc-black-color: #2f303a;
  }
  body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  /* .list {
    list-style: none;
  } */
  .link {
    text-decoration: none;
  }
  .logo-web,
  .footer-logo-web {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--blue-color);
  }
  .nav-logo-studio {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--black-color);
  }
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--black-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--blue-color);
  }
  .current {
    color: var(--blue-color);
  }
  .contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--blue-color);
  }
  .hero {
    width: 1600px;
    height: 600px;
    background-color: var(--bgc-black-color);
  }
  .hero-title {
    background-color: var(--bgc-black-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }
  .hero-button {
    cursor: pointer;
    background-color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
  }
  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--blue-color-hero-btn);
  }
  .features-title1 {
    visibility: hidden;
  }
  .features-item-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--black-color);
  }
  .features-text {
    line-height: 1.71;
    color: var(--grey-color);
  }
  .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--black-color);
  }
  .team-item-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-color);
  }
  .team-text {
    font-size: 16px;
    color: var(--grey-color);
  }
  .footer {
    background-color: var(--bgc-black-color);
  }
  .footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--white-color);
  }
  .address {
    font-weight: 400;
    line-height: 1.71;
    color: var(--white-color);
  }
  
  .address-text {
    font-style: normal;
    line-height: 1.71;
    color: var(--white-color);
  }
  .address-contact {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
  .project-main-title {
    visibility: hidden;
  }
  
  .filter-button {
    cursor: pointer;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--black-color);
  }
  .filter-button:hover,
  .filter-button:focus {
    background-color: var(--blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--white-color);
  }
  .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
  }
  .project-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--grey-color);
